<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.gopro.mobile_store"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- - allowBackup - Was warning but should explore is this correct. -->
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MobileStoreTheme" >
        <activity
            android:name="rs.gopro.mobile_store.ui.HomeScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="rs.gopro.mobile_store.ws.NavisionSyncService" />

        <activity
            android:name="rs.gopro.mobile_store.ui.LoginActivity"
            android:exported="false"
            android:label="@string/login_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="rs.gopro.mobile_store.ui.ActionMenuActivity" />
        <activity
            android:name="rs.gopro.mobile_store.ui.MainActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.AddVisitActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.AddContactActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.ElectronicCardCustomerActivity"
            android:exported="false"
            android:label="@string/ecc_activity_title" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.electronic_card_customer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.electronic_card_customer" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.CustomerTradeAgreementActivity"
            android:exported="false"
            android:label="@string/cus_trade_agree_activity_title" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.customer_trade_agreement" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.customer_trade_agreement" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.VisitsMultipaneActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.visit" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.visit" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.SaleOrdersPreviewActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.sale_orders" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.sale_order_lines" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.invoice_lines"/>
            </intent-filter>
            -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.CustomersViewActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.customer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.customer" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.NewVisitActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.VisitsMultipaneActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.SaleOrderAddEditActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.sale_orders" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.sale_orders" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SaleOrdersPreviewActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.MobileStoreSettingsActivity"
            android:exported="false"
            android:label="Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.SaleOrderLinesAddEditActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.sale_order_lines" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SaleOrdersPreviewActivity" />
        </activity>
        <activity
            android:name="rs.gopro.mobile_store.ui.AddPotentialCustomerActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.rs.gopro.mobile_store.customer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.rs.gopro.mobile_store.customer" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CustomersViewActivity" />
        </activity>

        <provider
            android:name="rs.gopro.mobile_store.provider.MobileStoreContentProvider"
            android:authorities="rs.gopro.mobile_store.provider.mobile_store_provider"
            android:exported="false" />
    </application>

</manifest>